
.nav-text:hover{
    color:#ff750f!important;
  
  }
  
  .button-main{
      display: block;
      font-size: 18px;
      font-family: sans-serif;
      text-decoration: none;
      background-color: #ff862f !important;
      border: 2px solid #fd8732 !important;
      letter-spacing: 2px;
      text-align: center;
      position: relative;
      transition: all .35s;
  }
    
    .button-main span{
      position: relative;
      z-index: 2;
    }
    
    .button-main:after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #ff6a00 !important;
      transition: all .35s;
    }
    
    .button-main:hover{
      border: 2px solid #ff6a00 !important;
      color: #fff !important;
    }
    
    .button-main:hover:after{
      width: 100%;
    }